.ask {
	background-color: var(--basic_white);
	height: 476px; 
	@media (min-width: @tablet-width) {
		height: 601px; 
	}
	@media (min-width: @desktop-width) { 
		height: 400px;
		position: relative;
	}
}

.ask__wrapper {
	height: 114px;
	background-color: var(--basic_grey);
	display: flex;
	align-items: center;
	@media (min-width: @tablet-width) {
		height: 201px;
		width: 768px;
		background-color: var(--basic_white);
		justify-content: space-between;
	}
	@media (min-width: @desktop-width) {
		margin-left: 70px;
		position: absolute;
		top: 70px;
		width: 570px;
		height: 201px;
		z-index: 2;
		margin-left: 110px;
	}
}

.ask__wrapper {
	&--catalog {
		height: 114px;
		background-color: var(--basic_grey);
		display: flex;
		align-items: center;
		@media (min-width: @tablet-width) {
			height: 201px;
			width: 768px;
			justify-content: space-between;
		}
		@media (min-width: @desktop-width) {
			background-color: var(--basic_white);
			position: absolute;
			top: 88px;
			width: 570px;
			height: 201px;
			z-index: 2;
			margin-left: 110px;
		}
	}
	&--form {
		height: 114px;
		background-color: var(--basic_grey);
		display: flex;
		align-items: center;
		@media (min-width: @tablet-width) {
			height: 201px;
			width: 768px;
			justify-content: space-between;
		}
		@media (min-width: @desktop-width) {
			background-color: var(--basic_white);
			position: absolute;
			top: 100px;
			width: 570px;
			height: 201px;
			z-index: 2;
			margin-left: 105px;
		}
	}
}

.ask__dealer {
	width: 130px;
	height: 64px;
	margin-left: 15px;
	margin-right: 10px;
	text-transform: uppercase;
	font-family: Oswald;
	font-size: 16px;
	line-height: 18px;
	@media (min-width: @tablet-width) {
		width: 171px;
		font-size: 20px;
		line-height: 21px;
		margin-left: 71px;
		margin-top: 55px;
	}
	@media (min-width: @desktop-width) {
		width: 163px;
		height: 83;
		margin-top: 70px;
	}
}

.ask__dealer-catalog {
	width: 140px;
	height: 64px;
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: Oswald;
	font-size: 16px;
	line-height: 18px;
	@media (min-width: @tablet-width) {
		width: 171px;
		font-size: 20px;
		line-height: 21px;
		margin-left: 71px;
		margin-top: 10px;
		margin-right: 10px;
	}
	@media (min-width: @desktop-width) {
		width: 163px;
		margin-top: 14px;
		margin-left: 75px;
	}
}

.ask__address {
	width: 135px;
	height: 49px;
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	@media (min-width: @tablet-width) {
		display: flex;
		flex-direction: column;
		width: 159px;
		height: 80px;
		font-size: 16px;
		line-height: 20px;
		text-align: end;
		margin-right: 71px;
		margin-top: 57px;
		&-part1 {
			margin-bottom: 20px;
		}
	}
	@media (min-width: @desktop-width) {
		width: 155px;
		text-align: start;
		margin-right: 90px;
	}
}

.ask__address-catalog {
	width: 140px;
	height: 49px;
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	margin-left: 0px;
	margin-right: 10px;
	@media (min-width: @tablet-width) {
		display: flex;
		flex-direction: column;
		width: 159px;
		height: 80px;
		font-size: 16px;
		line-height: 20px;
		text-align: end;
		margin-left: 10px;
		margin-right: 71px;
		margin-top: 25px;
		&-part1 {
			margin-bottom: 20px;
		}
	}
	@media (min-width: @desktop-width) {
		width: 155px;
		text-align: start;
		margin-right: 90px;
	}
}

.ask__map { 
	height: 362px;
	@media (min-width: @tablet-width) {  
		height: 400px;
	}
	@media (min-width: @desktop-width) { 
		height: 400px;
	}
}

.ask__map iframe {
	width: 100%;
	height: 362px;
	@media (min-width: @tablet-width) { 
		height: 420px;
		position: relative;
		z-index: 1;
	}
	@media (min-width: @desktop-width) { 
		height: 400px;
	}
}

.ask__map--form iframe {
	width: 100%;
	height: 362px;
	@media (min-width: @tablet-width) { 
		height: 400px;
		position: relative;
		z-index: 1;
	}
	@media (min-width: @desktop-width) { 
		height: 400px;
	}
}

.ask__map-cat {
	position: relative;
	left: 130px;
	top: -230px;
	width: 57px;
	height: 53px;
	z-index: 2;
	@media (min-width: @tablet-width) {
		width: 113px;
		height: 106px;
		left: 340px;
		top: -290px;
	}
	@media (min-width: @desktop-width) {
		width: 144px;
		height: 100px;
		left: 990px;
		top: 150px;
		z-index: 3;
		position: absolute;
	}
}