:root {
 --basic_white:#FFFFFF; 
 --basic_green:#68B738 ;
 --basic_grey:#F2F2F2;
 --special_grey_1:#EBEBEB;
 --special_grey:#CDCDCD; 
 --special_grey-2:#666666;
 --special_dark-grey:#444444;
 --special_dark-grey-2:#222222;
 --status_error:#FF8282;
 --basic_green-2:#5EAA2F;
 --basic_black: #000000;
 --basic_background:#E5E5E5;
 --basic_border:1px solid #D9D9D9;
 --basic_logo: #666666;
}
body {
    min-width: 320px; 
    margin: 0;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px; 
    color: var(--basic_black); 
    background-color: var(--basic_white); 
    background-position: top center;
    background-repeat: no-repeat;  
}
.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;  
}
.container {
    width: 320px; 
    margin: 0 auto; 
    padding: 0;
    box-shadow: var(--special-shadow);
}
.grid-wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start; 
}
 