.card_item {
    &-main {
    display: flex;
    justify-content: center;
    background-color: var(--basic_white);

    } 
} 
.card {
    &__title {
    margin: 0; 
    width: 76px;
    height: 41px;
    font-family: Oswald;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
    }
}
.card__list { 
    width: 142px; 
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 16px;
}
.card-item {
    &__parameter {
    font: Arial;
    width: 141px; 
    display: flex;
    justify-content: space-between;
    } 
}
.card__item-order {
    background-color: var(--basic_green);
    color: var(--basic_white);
    width: 280px;
    height: 40px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px; 
    margin-left: 20px;
    margin-bottom: 14px;
    margin-top: 13px;
    border: 2px solid transparent;

}
.card__item-img {
  /*  width: 140px;
    height: 112px;*/
} 
 