.case { 
    width: 280px;
    height: 289px;
    background-image: url("../img/gift-photo-mobile@1x.jpg"); 
    margin-left: 20px;
    &-text {
        width: 161px;
        height: 60px;
        font-family: Arial; 
        font-size: 16px;
        line-height: 20px;
        color: var(--basic_white);
        margin-left: 58px;
        text-align: center;
    }
    &-pic {
        width: 78px;
        height: 80px;
        fill: var(--basic_white);
        margin-top: 58px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}