.comments {
	width: 301px;
	height: 26px;
	margin-bottom: 50px;
	margin-left: 19px;
	display: flex;
	flex-direction: row;
	margin-top: 11px;
	@media (min-width: @tablet-width) {
		display: inline-block;
		height: 52px;
		width: 768px;
		margin-left: 0px;
		margin-bottom: 76px;
		margin-top: 50px;
	}
	@media (min-width: @desktop-width) {
		width: 1220px;
		margin-top: 45px;
	}
	&__title {
		font-size: 24px;
		line-height: 26px;
		@media (min-width: @tablet-width) {
			font-size: 36px;
			padding-left: 37px;
			padding-right: 42px;
			position: relative;
			width: 180px;
			left: 40px;
			background-color: var(--basic_white);
			z-index: 2;
			margin-top: 20px;
			left: 0px;
			margin-left: 30px;
		}
		@media (min-width: @desktop-width) {
			font-size: 36px;
			margin-left: 0px;
			padding-left: 0px;
		}
	}
	&__decor-line {
		position: relative;
		top: 30px;
		width: 158px;
		height: 2px;
		background-color: var(--basic_green);
		margin-left: 22px;
		@media (min-width: @tablet-width) {
			width: 768px;
			margin-left: 0px;
			z-index: 1;
			top: -40px;
		}
		@media (min-width: @desktop-width) {
			width: 1440px;
			margin-left: 0px;
		}
	}
	&__place {
		width: 262px;
		height: 134px;
		font-size: 16px;
		line-height: 18px;
		margin-left: 20px;
		font-family: Oswald;
		padding-left: 15px;
		padding-top: 13px;
		outline: none;
		color: var(--special_dark-grey);
		border: var(--special_border-grey);
		@media (min-width: @tablet-width) {
			width: 611px;
			height: 164px;
			font-size: 20px;
			line-height: 30px;
			margin-left: 75px;
			padding-top: 8px;
		}
		@media (min-width: @desktop-width) {
			width: 1220px; 
			margin-left: 0px;
		}
	}
}

.your-comments {
	background-color: var(--basic_white);
}