.page-footer {
  background: var(--basic_grey); 
  color: var(--basic_black);
  display: grid;
  grid-template-rows: min-content 1fr min-content; 
  text-align: center;
  align-items: center; 
  &__grey-line {
    border: var(--basic_border); 
    width: 240px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
} 
.page-footer__wrapper {
  height: 236px; 
  width: 320px; 
} 
.page-footer__contacts {
  margin-top: 39px;
  margin-bottom: 32px;
  
}
.page-footer__social {
  margin-top: 20px;
  margin-bottom: 21px;
}
.social__list { 
  width: 130px;
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto; 
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 19px;
  margin-right: 20px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.copyright__link-first {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
  text-decoration: none; 
}
.copyright__link-second svg {
  fill: var(--basic_logo); 
}