.form {
	background-color: var(--basic_white);
	&__extra {
		margin-top: 5px;
		margin-left: 19px;
		font-size: 16px;
		display: flex;
		flex-direction: row;
		@media (min-width: @tablet-width) {
			display: inline-block;
			height: 52px;
			width: 768px;
			margin-left: 0px;
			margin-bottom: 57px;
			margin-top: 22px;
		}
		@media (min-width: @desktop-width) {
			width: 1220px;
		}
	}
	&__title {
		width: 141px;
		height: 26px;
		@media (min-width: @tablet-width) {
			width: 211px;
			height: 36px;
			font-size: 36px;
			line-height: 36px;
			padding-left: 40px;
			padding-right: 42px;
			position: relative;
			left: 30px;
			background-color: var(--basic_white);
			z-index: 2;
			margin-top: 35px;
		}
		@media (min-width: @desktop-width) {
			font-size: 36px;
			margin-left: 31px;
		}
	}
	&__decor-line {
		position: relative;
		top: 30px;
		width: 136px;
		height: 2px;
		background-color: var(--basic_green);
		margin-left: 24px;
		@media (min-width: @tablet-width) {
			width: 768px;
			margin-left: 0px;
			z-index: 1;
			top: -45px;
		}
		@media (min-width: @desktop-width) {
			width: 1440px;
		}
	}
}

.form-wrapper {
	width: 280px;
	margin-left: 14px;
	margin-bottom: 27px;
	@media (min-width: @tablet-width) {
		width: 565px;
		height: 222px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 83px;
		margin-left: 70px;
	}
	@media (min-width: @desktop-width) {
		width: 1200px;
		margin-left: 100px;
		margin-bottom: 20px;
	}
	&__toggle {
		background-color: var(--basic_green);
		color: var(--basic_white);
		width: 280px;
		height: 40px;
		font-family: Oswald;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 0px;
		margin-top: 23px;
		margin-left: 5px;
		border: 2px solid transparent;
		margin-bottom: 15px;
		@media (min-width: @tablet-width) {
			width: 282px;
			height: 54px;
			margin-top: 0px;
			margin-left: 0px;
			font-size: 20px;
		}
		@media (min-width: @desktop-width) {
			width: 568px;
			height: 52px;
		}
	}
}

.form-wrapper-list {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	@media (min-width: @tablet-width) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 565px;
		height: 115px;
		margin-bottom: 70px;
	}
	@media (min-width: @desktop-width) {
		width: 1200px;
		height: 62px;
		margin-bottom: 30px;
	}
	&__item {
		width: 240px;
		margin-left: 3px;
		margin-bottom: 14px;
		height: 30px;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		@media (min-width: @tablet-width) {
			padding: 0;
			margin: 0;
			width: 221px;
			height: 40px;
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 32px;
		}
		@media (min-width: @desktop-width) {
			margin-bottom: 22px;
		}
	}
	&__item label {
		margin-top: 7px;
		margin-left: 10px;
		@media (min-width: @tablet-width) {
			margin-left: 10px;
		}
	}
	&__item input {
		width: 30px;
		height: 30px;
	}
}

.form-wrapper-list__item {
	&--milk {
		width: 240px;
		margin-left: 3px;
		margin-bottom: 14px;
		height: 30px;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		margin-bottom: 10px;
		@media (min-width: @tablet-width) {
			padding: 0;
			margin: 0;
			width: 221px;
			height: 40px;
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 32px;
		}
		@media (min-width: @desktop-width) {
			margin-bottom: 22px;
		}
	}
}

.extra-form-notice {
	width: 157px;
	height: 16px;
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	margin-left: 70px;
	@media (min-width: @tablet-width) {
		font-size: 16px;
		line-height: 16px;
		width: 180px;
		margin-left: 62px;
		margin-top: 13px;
	}
	@media (min-width: @desktop-width) {
		margin-left: 82px;
	}
}

.form-wrapper-list__item-sugar {
	width: 240px;
	margin-left: 3px;
	margin-bottom: 14px;
	height: 30px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	@media (min-width: @tablet-width) {
		padding: 0;
		margin: 0;
		width: 221px;
		height: 40px;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 32px;
	}
	@media (min-width: @desktop-width) {
		margin-bottom: 22px;
	}
}

.form-wrapper-list__item-sugar input[type="checkbox"] {
	display: none;
}

.form-wrapper-list__item-sugar label {
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
}

.form-wrapper-list__item-sugar label:before {
	content: " ";
	color: #000;
	display: inline-block;
	font-family: Oswald;
	margin-right: 17px;
	position: relative;
	text-align: center;
	width: 30px;
	height: 30px;
	background: #FFF;
	border: 1px solid var(--special_grey-2);
	border-image: initial;
	vertical-align: middle;
	@media (min-width: @tablet-width) {
		width: 40px;
		height: 40px;
	}
}

.form-wrapper-list__item-sugar input:checked+label:before {
	content: " ";
	position: relative;
	left: 5px;
	width: 27px;
	height: 27px;
	text-align: center;
	background-image: url("../img/vector.svg");
	background-repeat: no-repeat;
	background-position: center;
	@media (min-width: @tablet-width) {
		width: 40px;
		height: 40px;
	}
}

.form-wrapper-list__item-sugar {
	margin-bottom: 18px;
}

.form-wrapper-list__item input {
	@media (min-width: @tablet-width) {
		width: 40px;
		height: 40px;
	}
	@media (min-width: @desktop-width) {}
}

.form-wrapper-list__item {
	margin-top: 20px;
	margin-bottom: 12px;
}