.page-header {
	width: 280px;
	height: 66px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 11px;
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	@media (min-width: @tablet-width) {
		width: 709px;
	}
	@media (min-width: @desktop-width) {
		width: 1200px;
		margin-top: 23px;
		margin-bottom: 29px;
	}
}

.page-header svg {
	@media (min-width: @mobile-width-only) {
		height: 38px;
		width: 195px;
	}
	@media (min-width: @tablet-width) {
		margin-top: 13px;
		height: 52px;
		width: 174px;
	}
	@media (min-width: @desktop-width) {
		margin-left: 110px;
		height: 59px;
		width: 202px;
	}
}

.main-nav {
	&__toggle {
		background-color: var(--basic_white);
		border: 2px solid transparent;
		@media (min-width: @tablet-width) {
			display: none;
		}
	}
}

.main-nav__list-index {
	display: none;
	@media (min-width: @tablet-width) {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 440px;
		height: 36px;
		margin-top: 31px;
	}
	@media (min-width: @desktop-width) {
		margin-right: 110px;
		margin-top: 33px;
		width: 478px;
		height: 40px;
		background-color: transparent;
	}
}

.main-nav__list {
	display: none;
	@media (min-width: @tablet-width) {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 440px;
		height: 36px;
		margin-top: 31px;
	}
	@media (min-width: @desktop-width) {
		margin-right: 110px;
		margin-top: 33px;
		width: 478px;
		height: 40px;
		background-color: var(--basic_white);
	}
}

.main-nav__list-item-index a {
	@media (min-width: @tablet-width) {
		text-decoration: none;
		color: var(--basic_black);
	}
	@media (min-width: @desktop-width) {
		color: var(--basic_white);
	}
}

.main-nav__list-item a {
	@media (min-width: @tablet-width) {
		text-decoration: none;
		color: var(--basic_black);
	}
}

.hamburger {
	position: absolute;
	top: 18px;
	left: 250px;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 16px;
}

.bar {
	display: block;
	width: 100%;
	height: 20%;
	margin-top: 20%;
	background: var(--basic_black);
	transition: 0.25s;
}