.page-header {
	width: 280px;
	height: 66px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	@media (min-width: @tablet-width) {
		width: 709px;
	}
	@media (min-width: @desktop-width) {
		min-width: 1330px;
		margin-top: 23px;
		margin-bottom: 29px;
		justify-content: flex-start; 
		margin-left: 50px;
	}
	&--catalog {
		@media (min-width: @desktop-width) {
			min-width: 1330px;
			margin-top: 23px;
			margin-bottom: 29px;
			justify-content: space-between;
		}
	}
}

.header__pic {
	&--mobil {
		margin-top: 10px;
		height: 38px;
		width: 195px;
		@media (min-width: @tablet-width) {
			display: none;
		}
	}
	&--tablet {
		display: none;
		@media (min-width: @tablet-width) {
			display: block;
			margin-top: 26px;
			height: 52px;
			width: 174px;
		}
		@media (min-width: @desktop-width) {
			height: 59px;
			width: 202px;
		}
	}
	&--tablet-catalog {
		display: none;
		@media (min-width: @tablet-width) {
			display: block;
			margin-top: 26px;
			height: 52px;
			width: 174px;
		}
		@media (min-width: @desktop-width) {
			height: 59px;
			width: 202px;
			margin-left: 100px;
		}
	}
}

.main-nav {
	&__toggle {
		background-color: var(--basic_white);
		border: 2px solid transparent;
		@media (min-width: @tablet-width) {
			display: none;
		}
	}
}

.main-nav__list-index {
	display: none;
	@media (min-width: @tablet-width) {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 440px;
		height: 36px;
		margin-top: 40px;
		font-size: 18px;
		line-height: 24px;
	}
	@media (min-width: @desktop-width) {
		margin-right: 110px;
		margin-top: 45px;
		width: 478px;
		height: 40px;
		background-color: transparent;
		margin-left: 545px;
	}
}

.main-nav__list {
	display: none;
	@media (min-width: @tablet-width) {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 440px;
		height: 36px;
		margin-top: 41px;
		font-size: 18px;
	}
	@media (min-width: @desktop-width) {
		margin-top: 48px;
		width: 480px;
		background-color: var(--basic_white);
		font-size: 20px;
		line-height: 30px;
	}
}

.main-nav__list-item-index a {
	@media (min-width: @tablet-width) {
		text-decoration: none;
		color: var(--basic_black);
	}
	@media (min-width: @desktop-width) {
		color: var(--basic_white);
		font-size: 20px;
		line-height: 30px;
	}
}

.main-nav__list-item a {
	@media (min-width: @tablet-width) {
		text-decoration: none;
		color: var(--basic_black);
	}
}

.main-nav__list-item-index a.active-index {
	@media (min-width: @tablet-width) {
		height: 36px;
		border-bottom: 2px solid var(--basic_green);
	}
	@media (min-width: @desktop-width) {
		border-bottom: 2px solid var(--basic_white);
	}
}

.hamburger {
	position: absolute;
	top: 18px;
	left: 255px;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 16px;
}

.bar {
	display: block;
	width: 100%;
	height: 20%;
	margin-top: 20%;
	background: var(--basic_black);
	transition: 0.25s;
}