.how {
	color: var(--basic_black);
	&-title {
		background-color: var(--basic_white);
		font-family: Oswald;
		font-size: 36px;
		line-height: 40px;
		height: 40px;
		margin-left: 20px;
		@media (min-width: @tablet-width) {
			font-size: 60px;
			line-height: 60px;
			width: 375px;
			margin-left: 30px;
		}
		@media (min-width: @desktop-width) {
			margin-top: 71px;
		}
	}
}

.how-wrapper {
	width: 279px;
	background-color: var(--basic_white);
	margin-top: 38px;
	margin-left: 20px;
	margin-bottom: 40px;
	margin-right: 21px;
	@media (min-width: @tablet-width) {
		width: 615px;
		background-color: var(--basic_white);
		margin-top: 32px;
		margin-left: 30px;
		margin-bottom: 47px;
	}
}

.how-list {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: var(--basic_white);
	color: var(--basic_black);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 300px;
	@media (min-width: @tablet-width) {
		flex-direction: row;
		flex-wrap: wrap;
		width: 613px;
		height: 640px;
	}
	@media (min-width: @desktop-width) {
		width: 1202px;
		height: 280px;
	}
}

.how-item {
	font: inherit;
	display: flex;
	flex-direction: row;
	@media (min-width: @tablet-width) {
		flex-wrap: wrap; 
		width: 245px;
		height: 280px;
	}
	@media (min-width: @desktop-width) {
		margin-top: 37px;
	}
}


.how-pic {
	background-color: var(--basic_green);
	width: 60px;
	height: 60px;
	@media (min-width: @tablet-width) {
		margin-left: 15px;
		margin-top: 35px;
		padding: 5% 5%;
	} 
} 
.how-description {
	max-width: 199px;
	margin-top: 0;
	padding-left: 20px;
	color: var(--special_dark-grey);
	font-size: 14px;
	line-height: 18px;
	font-family: Arial;
	@media (min-width: @tablet-width) { 
		margin-top: 17px; 
		max-width: 230px;
		height: 72px;
		font-size: 16px; 
        line-height: 24px;
		background-color: transparent;
		position: relative;
		top: -150px;
		padding-left: 0px;
		margin-left: 15px;
	}
	@media (min-width: @desktop-width) {
		padding-left: 0;
		width: 201px;
		font-size: 14px;
	}
}

.how-description {
	&--mobil {
		margin-bottom: 0px;
		@media (min-width: @tablet-width) {
			max-width: 245px;
		}
	} 

}

.how-number {
	display: none;
	@media (min-width: @tablet-width) {
		display: block;
		font-size: 280px;
		line-height: 280px;
		background-color: transparent;
		color: var(--basic_grey);
		width: 112px;
		height: auto;
		margin-left: 20px;
		font-family: Oswald;
	}
	@media (min-width: @desktop-width) {
		margin-left: 25px;
	}
}