.lose-weight {
	font: inherit;
	background-color: var(--basic_grey);
	margin: 20px;
	height: 266px;
	width: 280px;
	@media (min-width: @tablet-width) {
		margin-top: 105px;
		margin-left: 30px;
		width: 708px;
		height: 372px;
	}
	@media (min-width: @desktop-width) {
		margin-top: 82px;
		margin-left: 105px;
		width: 570px;
		height: 374px;
	}
	&__divider-line {
		border: var(--basic_border);
		width: 240px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		@media (min-width: @tablet-width) {
			display: none;
		}
	}
}

.lose-weight__wrapper-small {
	display: flex;
	margin-top: 22px;
	padding-top: 21px;
	padding-left: 19px;
	color: var(--basic_black);
	@media (min-width: @tablet-width) {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
		width: 630px;
		padding-top: 70px;
		margin-left: 23px;
		padding-left: 0px;
	}
	@media (min-width:@desktop-width) {
		flex-direction: row;
		align-items: center;
		padding-top: 0;
		margin-top: 20px;
		margin-left: 0px;
		padding-left: 52px;
		color: var(--basic_black);
		width: 326px;
	}
}

.lose-weight__pic {
	width: 50px;
	height: 50px;
	background-color: var(--basic_green);
	border-radius: 30px;
	@media (min-width: @tablet-width) {
		background-color: var(--basic_green);
		border-radius: 110px;
		width: 200px;
		height: 200px;
		margin-top: 20px;
	}
	@media (min-width: @desktop-width) {
		width: 100px;
		height: 100px;
		background-color: var(--basic_green);
		border-radius: 50px;
	}
}

.lose-weight__wrapper-small svg {
	width: 36px;
	height: 50px;
	position: relative;
	left: 10px;
	@media (min-width: @tablet-width) {
		width: 140px;
		height: 192px;
		left: 15px;
	}
	@media (min-width: @desktop-width) {
		height: 97px;
		width: 70px;
		left: 10px;
	}
}

.lose-weight__title {
	padding-left: 22px;
	padding-top: 7px;
	font-family: Oswald;
	font-size: 22px;
	line-height: 37px;
	text-transform: uppercase;
	margin: 0;
	width: 110px;
	height: 37px;
	@media (min-width: @tablet-width) {
		width: 164px;
		padding-left: 35px;
		height: 36px;
		font-size: 36px;
		line-height: 36px;
	}
	@media (min-width:@desktop-width) {
		margin-top: 10px;
	}
}

.lose-weight__text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	width: 227px;
	height: 90px;
	color: var(--special_dark-grey);
	margin-left: 20px;
	margin-right: 33px;
	margin-top: 21px;
	margin-bottom: 23px;
	@media (min-width: @tablet-width) {
		font-size: 16px;
		line-height: 24px;
		position: relative;
		top: -170px;
		width: 377px;
		margin-left: 54px;
		margin-top: 17px;
	}
	@media (min-width:@desktop-width) {
		top: 0px;
		width: 467px;
		height: 72px;
		margin-left: 52px;
		margin-right: 51px;
		margin-top: 43px;
		margin-bottom: 30px;
	}
}

.lose-weight__wrapper-link {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	background-color: var(--basic_grey);
	margin-left: 20px;
	@media (min-width: @tablet-width) {
		position: relative;
		top: -136px;
		margin-top: 27px;
		display: flex;
		flex-direction: row;
		margin-left: 54px;
		width: 200px;
	}
	@media (min-width:@desktop-width) {
		top: 0px;
	}
}

.lose-weight__catalog {
	margin-right: 20px;
	width: 134px;
	border: var(--basic_border);
	border: 1px solid transparent;
	font-size: 16px;
	@media (min-width: @tablet-width) {
		font-size: 20px;
	}
}

.lose-weight__link {
	position: relative;
	left: -90px;
	top: 7px;
	display: flex;
	flex-direction: row;
	font: inherit;
	color: var(--basic_black);
	background-color: var(--basic_grey);
	margin-left: 26px;
	@media (min-width: @tablet-width) {
		left: -45px;
	}
}