.program-main-title {
	padding-left: 20px;
	background-color: var(--basic_white);
}

.program {
	background-color: var(--basic_white);
	&-title {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 18px;
		font-family: Oswald;
		width: 226px;
		margin-left: 20px;
	}
	&-item {
		width: 281px;
		height: 46px;
		font-size: 16px;
		line-height: 18px;
		font-family: Oswald;
	}
	&__divider-line {
		width: 320px;
		background-color: var(--basic_grey);
		height: 2px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		margin-bottom: 13px;
	}
}

.program-form-place {
	border: none;
}

.program-form-goal {
	width: 277px;
	height: 115px;
	border: none;
	margin-left: 10px;
}

.program-item {
	&__name-data {
		display: flex;
		justify-content: baseline;
		margin-bottom: 14px;
		width: 281px;
	}
	&__name {
		font-family: Oswald;
		font-size: 16px;
		line-height: 18px;
		color: var(--special_dark-grey);
		width: 39px;
		height: 18px;
	}
	&__value-name {
		border: var(--special_border-grey);
		margin-left: 14px;
		width: 214px;
		height: 45px;
		font-size: 16px;
		line-height: 18px;
		color: var(--special_dark-grey);
		font-family: Oswald;
		padding-left: 14px;
	}
	&__name-weight {
		display: flex;
		justify-content: baseline;
		width: 281px;
		height: 45px;
		margin-bottom: 14px;
	}
	&__weight {
		width: 75px;
		height: 18px;
		font-size: 16px;
		line-height: 18px;
		font-family: Oswald;
		color: var(--special_dark-grey);
	}
	&__value-weight {
		font-family: Oswald;
		border: var(--special_border-grey);
		margin-left: 2px;
		width: 191px;
		height: 45px;
		color: var(--special_dark-grey);
		font-size: 16px;
		line-height: 18px;
		padding-left: 16px;
	}
	&__name-age {
		display: flex;
		justify-content: baseline;
		width: 281px;
		height: 46px;
		margin-bottom: 14px;
	}
	&__age {
		color: var(--special_dark-grey);
		font-size: 16px;
		line-height: 18px;
	}
	&__value-age {
		width: 172px;
		height: 45px;
		border: var(--special_border-grey);
		font-size: 16px;
		line-height: 18px;
		font-family: Oswald;
		padding-left: 16px;
	}
}

.goal {
	&-list {
		margin-bottom: 13px;
	}
	&-slim {
		font-size: 16px;
		line-height: 18px;
		color: var(--special_dark-grey);
		font-family: Oswald;
		margin-left: 16px;
	}
	&-massa {
		font-size: 16px;
		line-height: 18px;
		color: var(--special_dark-grey);
		font-family: Oswald;
		margin-left: 16px;
	}
	&-none {
		font-size: 16px;
		line-height: 18px;
		color: var(--special_dark-grey);
		font-family: Oswald;
		margin-left: 16px;
	}
}