.promo {
    height: 480px;
    width: 320px;
    font: inherit;
    background-color: var(--basic_white);
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;  
}
.promo__main-header {
    font-family: Oswald; 
    text-align: center;
    color: var(--basic_white);  
    font-style: normal; 
    font-size: 36px;
    line-height: 36px;
    width: 249px;
    height: 72px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.promo__slogan {
    font: inherit;
    font-weight: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--basic_white); 
    text-align: center;  
} 
.promo__toggle {
    font:inherit;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic_white);  
    background-color: var(--basic_green); 
    text-transform: uppercase;
    padding: 7px 44px;  
    border: 2px solid transparent; 
    width: 280px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
}